{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "react",
    "jsx-a11y",
    "react-hooks"
  ],
  "rules": {
    "prettier/prettier": "error",
    // "no-console": "warn",
    "no-undef": "error",
    "no-eval": "error",
    "no-unused-vars": [
      "warn",
      {
        "ignoreRestSiblings": false
      }
    ],
    "no-restricted-globals": "warn",
    "react-hooks/rules-of-hooks": "error",
    // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn",
    "react/display-name": [
      "off",
      {
        "ignoreTranspilerName": false
      }
    ]
  }
}